@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
  }
  #welcome-section{
    height: 100vh;
  }
  #welcome-section #navbar{
    position: relative;
    top:0;
  }